<html>
<head>
<title>Automagically</title>
<style type="text/css">@import "/static/automagically/style.css";</style>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <hr>
    <div id="footer">
      <center>
      <h2><a href="/core/events/admin/">Scheduled events</a><h2><p>
      <h2><a href="/admin/">Administrative interface</a><h2><p>
      <h2><a href="/core/">Back to main page</a><h2><p>
      <h2><a href="/about/">About</a><h2><p>
      </center>
    </div>
</body>
</html>
