<html>
<head>
<title>Automagically</title>
<meta name = "viewport" content = "width = device-width">
<style type="text/css">@import "/static/automagically/iphone.css";</style>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <hr>
    <div id="footer">
      <center>
      <h2><a href="/core/events/">Scheduled events</a><h2><p>
      <h2><a href="/admin/">Administrative interface</a><h2><p>
      <h2><a href="/core/">Back to main page</a><h2><p>
      <h2><a href="/about/">About</a><h2><p>
      </center>
    </div>
</body>
</html>
