{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<h1>System logs</h1>

<h2>Commands at last init (that did commands)</h2>
{% if init != '' %}
Modified: {{ initDate }}<p>
<pre>
{{ init }}
</pre>
{% else %}
No file found<p>
{% endif %}
<h2>Commands executed at last system software update</h2>
{% if update != '' %}
Modified: {{ updateDate }}<p>
<pre>
{{ update }}
</pre>
{% else %}
No file found<p>
{% endif %}


{% endblock %}
{% block sidebar %}
{% endblock %}
